<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/dashEntrenador.css">
    <link rel="stylesheet" href="../../Public/css/responsive.css">
    <script src="https://kit.fontawesome.com/58f9dcf30d.js" crossorigin="anonymous"></script>
    <title>Dashboard del Usuario</title>
</head>
<body>
<div class="dashboardContainer">

    {% include 'header.html.twig' %}

    <script src="../../Public/js/listaCalificaciones.js"></script>

    <h1>Bienvenido al Dashboard del Usuario {{ usuario.nombre }} {{ usuario.apellido }}</h1>

    <!-- Seccion de Informacion del Usuario -->
    <section class="informacionUsuario">
        <h2>Información del Usuario</h2>
        <div class="usuarioInfo">
            <p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
            <p><strong>Edad:</strong> {{ usuario.edad }}</p>
            <p><strong>Altura:</strong> {{ usuario.altura }}</p>
            <p><strong>Peso:</strong> {{ usuario.peso }}</p>
            <p><strong>Documento:</strong> {{ usuario.documento }}</p>
        </div>
    </section>

    <section class="calificaciones">
        <h2>Calificaciones</h2>
        <div class="tablaCliente">
            <table class="clasCliente" id="tablaCalificaciones">
                <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Puntuacion Total</th>
                    <th>Fuerza Muscular</th>
                    <th>Resistencia Muscular</th>
                    <th>Resistencia Anaerobica</th>
                    <th>Resiliencia</th>
                    <th>Flexibilidad</th>
                    <th>Cumplimiento de Agenda</th>
                    <th>Resistencia a la Monotonia</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for calificacion in calificaciones %}
                    <tr>
                        <td>{{ calificacion.fecha }}</td>
                        <td>{{ calificacion.puntObtenido }}</td>
                        <td>{{ calificacion.fuerzaMusc }}</td>
                        <td>{{ calificacion.resMusc }}</td>
                        <td>{{ calificacion.resAnaerobica }}</td>
                        <td>{{ calificacion.resiliencia }}</td>
                        <td>{{ calificacion.flexibilidad }}</td>
                        <td>{{ calificacion.cumplAgenda }}</td>
                        <td>{{ calificacion.resMonotonia }}</td>
                        <td>
                            <button class="btnEditar">Editar</button>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">No hay calificaciones disponibles</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <section class="rutina">
        <h2>Rutina</h2>
        <button class="btnAsignarRutina" onclick="openModal()">Asignar Rutina</button>
        <div class="tablaRutina">
            <table class="clasCliente" id="tablaCalificaciones">
                <thead>
                <tr>
                    <th>Dia</th>
                    <th>Series</th>
                    <th>Repeticiones</th>
                    <th>Combo de Ejercicios</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for rutina in practicas %}
                    <tr>
                        <td>{{ rutina.dia }}</td>
                        <td>{{ rutina.series }}</td>
                        <td>{{ rutina.repeticiones }}</td>
                        <td>
                            {% for combo in rutina.combo %}
                                {{ combo.nombreCombo }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <button class="btnEditar" onclick="eliminarRutina({{ rutina.idRutina }})">Eliminar</button>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">No hay rutinas disponibles</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <section class="evolucion">
        <div class="graficaEvolucion">
            <p>Aquí podrás ver tu evolución física a lo largo del tiempo.</p>
            <img src="/../../Resources/Images/Graphics/grafico_evolucion_{{ usuario.documento }}.png" alt="Gráfica de Evolución">
        </div>
    </section>

    <!-- Modal para Asignar Rutina -->
    <div class="modal" id="modalRutina">
        <div class="modal-content">
            <button class="close-button" onclick="closeModal()">
                <span class="X"></span>
                <span class="Y"></span>
                <div class="close">Close</div>
            </button>
            <iframe id="iframeRutina" src=""></iframe>
        </div>
    </div>

    <script>
        function openModal() {
            const modal = document.getElementById('modalRutina');
            modal.classList.remove('hide');
            modal.classList.add('show');
            modal.style.display = 'flex';
            document.getElementById('iframeRutina').src = '/asignarRutina?documento={{ usuario.documento }}';
        }

        function closeModal() {
            const modal = document.getElementById('modalRutina');
            modal.classList.remove('show');
            modal.classList.add('hide');
            // Esperar el tiempo de la transición para ocultar el modal de forma definitiva
            setTimeout(() => {
                modal.style.display = 'none';
                document.getElementById('iframeRutina').src = ''; // Limpiar el src del iframe para detener su ejecución
                window.location.reload(); // Recargar la página después de cerrar el modal
            }, 500);
        }

        // Cierra el modal al hacer clic fuera del contenido
        window.onclick = function(event) {
            const modal = document.getElementById('modalRutina');
            if (event.target === modal) {
                closeModal();
            }
        }

        // Escuchar mensajes desde el iframe para cerrar el modal
        window.addEventListener('message', function(event) {
            // Verificar el contenido del mensaje recibido
            if (event.data === 'cerrarModalRutina') {
                closeModal(); // Llamar a la función para cerrar el modal
            }
        });

        // Función para eliminar rutina
        function eliminarRutina(idRutina) {
            if (confirm('¿Estás seguro de que deseas eliminar esta rutina al usuario {{ usuario.documento }}?')) {
                fetch('/eliminarRutina', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ idRutina: idRutina })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'ok') {
                            alert('Rutina eliminada con éxito');
                            window.location.reload(); // Recargar la página después de eliminar la rutina
                        } else {
                            alert('Error al eliminar la rutina. Inténtalo de nuevo.');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('Hubo un error al eliminar la rutina. Inténtalo de nuevo.');
                    });
            }
        }
    </script>

    {% include 'footer.html.twig' %}

</div>

<script src="../../Public/js/script.js"></script>
<script src="../../Public/js/responsive.js"></script>

</body>
</html>
